{% extends 'store/base.html' %}
{%load static%}

{% block title %} <!-- Блок для названия страницы-->
<title>Избранное</title>
{% endblock %}

{% block content %} <!-- Блок для уникального содержимого страницы-->
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'store/images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"></span></p>
            <h1 class="mb-0 bread">Избранное</h1>
          </div>
        </div>
      </div>
    </div>

<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th></th>
						        <th></th>
						        <th>Продукт</th>
						        <th>Цена, &#x20bd</th>
						      </tr>
						    </thead>
						    <tbody>
								{% for product in products %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{% url 'store:remove_now' product.id %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><a href="products/bell_pepper.html">
									<div class="img" style="background-image:url({% static product.url %});"></div>
								</a></td>
						        
						        <td class="product-name">
						        	<h3>{{product.name}}</h3>
						        	<p>{{product.description}}</p>
						        </td>
						        
						        <td class="price">
									{% if prod_cat.discount %}
                                	<span class="mr-2 price-de">&#x20bd {{product.price_before}}</span>
                                	<span class="price-sale">&#x20bd {{product.price_after}}</span>
                                	{% else %}
                                	<span>&#x20bd {{product.price_before}}</span>
                                	{% endif %}
								</td>
						      </tr><!-- END TR-->
								{% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>
{% endblock %}

{% block custom_scripts %}
<script src="{% static 'store/js/jquery.min.js' %}"></script>
<script src="{% static 'store/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'store/js/popper.min.js' %}"></script>
<script src="{% static 'store/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'store/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'store/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'store/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'store/js/aos.js' %}"></script>
<script src="{% static 'store/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'store/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'store/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'store/js/google-map.js' %}"></script>
<script src="{% static 'store/js/main.js' %}"></script>
{% endblock %}
